<form #searchForm="ngForm" (ngSubmit)="getSearchResult(searchForm.value.fullName)"
  style="display: flex; align-items: center;">
  <span class="p-input-icon-left" style="flex-grow: 1;">
    <input name="fullName" ngModel type="search"
      style="width: 100%; margin: 10px 0; padding: 25px;  box-sizing: border-box;" pInputText class="p-inputtext-lg" />
  </span>
  <button type="submit" pButton icon="pi pi-search" label="Search" style="height: 50px; margin-left: 5px;"></button>
</form>




<p-tabView [style]="{  'width': '100%','margin-left': '5px'}">
  <p-tabPanel header="ALL">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_un_individual != null && asro_all_un_individual.length != 0 ">
      <h3 style="color: green">Record in UN Individual Sanction List</h3>


      <p-table [value]="asro_all_un_individual" [paginator]="true" [rows]="5 " [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td><span *ngIf="data.firstName !== null">{{ data?.firstName +" " }}</span>
              <span *ngIf="data.secondName !== null">{{data?.secondName +" "}}</span>
              <span *ngIf="data.thirdName !== null">{{data?.thirdName+" " }}</span>
              <span *ngIf="data.fourthName !== null">{{data?.fourthName +" "}}</span>
            </td>
            <!-- Display the corresponding score value -->
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>


    <div style="text-align: center" *ngIf="asro_all_un_entities != null && asro_all_un_entities.length != 0">
      <h3 style="color: green">Record in UN Entity Sanction List</h3>


      <p-table [value]="asro_all_un_entities" [paginator]="true" [rows]="5 " [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td><span *ngIf="data.firstName !== null">{{ data?.firstName +" " }}</span>
              <span *ngIf="data.secondName !== null">{{data?.secondName +" "}}</span>
              <span *ngIf="data.thirdName !== null">{{data?.thirdName+" " }}</span>
            </td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>
            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>

    <div style="text-align: center; width:100%"
      *ngIf="asro_all_eu_sanction != null && asro_all_eu_sanction.length != 0">
      <h3 style="color: green">Record in EU Sanction List</h3>


      <p-table [value]="asro_all_eu_sanction" [paginator]="true" [rows]="5 " [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>

              <span>{{ data.wholeName+" " }}</span>


            </td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>
            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>

    <div style="text-align: center" *ngIf="asro_all_uk_sanction != null && asro_all_uk_sanction.length != 0">
      <h3 style="color: green">Record in UK Sanction List</h3>


      <p-table [value]="asro_all_uk_sanction" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>

              <span>
                {{ data.wholeName }}
              </span>

            </td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>

            </td>
            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>

    <div style="text-align: center" *ngIf="asro_all_nbe_sanction != null && asro_all_nbe_sanction.length != 0">
      <h3 style="color: green">Record in Business Continuity List</h3>


      <p-table [value]="asro_all_nbe_sanction" [paginator]="true" [rows]="9 " [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{data?.customer_name }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>
            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_adverser_sanction != null && asro_all_adverser_sanction.length != 0">
      <h3 style="color: green">Record in Media Adversery </h3>


      <p-table [value]="asro_all_adverser_sanction" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{data?.name}}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>

    <div style="text-align: center; width:100%"
      *ngIf="asro_all_ofac_sanction != null && asro_all_ofac_sanction.length != 0">
      <h3 style="color: green">Record in OFAC Sanction List</h3>


      <p-table [value]="asro_all_ofac_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{data?.name}}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>


    <div style="text-align: center; width:100%"
      *ngIf="asro_all_pep_sanction != null && asro_all_pep_sanction .length != 0">
      <h3 style="color: green">Record in Politically Exposed People </h3>


      <p-table [value]="asro_all_pep_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ [data.nameInEng, data.nameInAmh].join(' ') }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>



    <div style="text-align: center; width:100%"
      *ngIf="asro_all_deliquent_sanction != null && asro_all_deliquent_sanction .length != 0">
      <h3 style="color: green">Record in Delinquent List </h3>


      <p-table [value]="asro_all_deliquent_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ data.customerName }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>

    <div style="text-align: center; width:100%"
      *ngIf="asro_all_dutch_sanction != null && asro_all_dutch_sanction .length != 0">
      <h3 style="color: green">Record in Dutch List </h3>


      <p-table [value]="asro_all_dutch_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ data.firstName }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>

    <div style="text-align: center; width:100%"
    *ngIf="asro_all_canada_sanction != null && asro_all_canada_sanction.length != 0">
    <h3 style="color: green">Record in Canada List </h3>


    <p-table [value]="asro_all_canada_sanction" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      [tableStyle]="{ 'width': '100%' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 25, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 700px;">Full Name</th>
          <th scope="col" style="width: 100px;">Score</th>
          <th scope="col" style="width: 200px;">More Info</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-i="rowIndex">
        <tr>
          <td>{{ data.GivenNames }}</td>
          <td>
            <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
          </td>

          <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog header="More Information" [(visible)]="displayDialog">
      <p-table [value]="selectedDataProperties">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Property</th>
            <th scope="col">Value</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.property}}</td>
            <td>
              <ng-container *ngIf="isObject(data.value); else notObject">
                {{data.value | json}}
              </ng-container>
              <ng-template #notObject>{{data.value}}</ng-template>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>

  </div>






  </p-tabPanel>
  <p-tabPanel header="UN">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_un_individual != null && asro_all_un_individual.length != 0 ">
      <h3 style="color: green">Record in UN Individual Sanction List</h3>


      <p-table [value]="asro_all_un_individual" [paginator]="true" [rows]="5 " [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td><span *ngIf="data.firstName !== null">{{ data?.firstName +" " }}</span>
              <span *ngIf="data.secondName !== null">{{data?.secondName +" "}}</span>
              <span *ngIf="data.thirdName !== null">{{data?.thirdName+" " }}</span>
              <span *ngIf="data.fourthName !== null">{{data?.fourthName +" "}}</span>
            </td>
            <!-- Display the corresponding score value -->
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>



  </p-tabPanel>
  <p-tabPanel header="UK">

    <div style="text-align: center" *ngIf="asro_all_uk_sanction != null && asro_all_uk_sanction.length != 0">
      <h3 style="color: green">Record in UK Sanction List</h3>


      <p-table [value]="asro_all_uk_sanction" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>

              <span>
                {{ data.wholeName }}
              </span>

            </td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>

            </td>
            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>


  </p-tabPanel>
  <p-tabPanel header="EU">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_eu_sanction != null && asro_all_eu_sanction.length != 0">
      <h3 style="color: green">Record in EU Sanction List</h3>


      <p-table [value]="asro_all_eu_sanction" [paginator]="true" [rows]="5 " [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>

              <span>{{ data.wholeName+" " }}</span>


            </td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>
            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>


  </p-tabPanel>
  <p-tabPanel header="Business Continuity">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_nbe_sanction != null && asro_all_nbe_sanction.length != 0">
      <h3 style="color: green">Record in Business Continuity List</h3>


      <p-table [value]="asro_all_nbe_sanction" [paginator]="true" [rows]="9 " [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{data?.customer_name }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>
            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>
  </p-tabPanel>
  <p-tabPanel header="PEP">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_pep_sanction != null && asro_all_pep_sanction .length != 0">
      <h3 style="color: green">Record in Politically Exposed People </h3>


      <p-table [value]="asro_all_pep_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ [data.nameInEng, data.nameInAmh].join(' ') }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>
            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>
  </p-tabPanel>
  <p-tabPanel header="Media Adversery">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_adverser_sanction != null && asro_all_adverser_sanction.length != 0">
      <h3 style="color: green">Record in Media Adversery </h3>


      <p-table [value]="asro_all_adverser_sanction" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{data?.name}}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>
  </p-tabPanel>
  <p-tabPanel header="OFAC">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_ofac_sanction != null && asro_all_ofac_sanction.length != 0">
      <h3 style="color: green">Record in OFAC Sanction List</h3>


      <p-table [value]="asro_all_ofac_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{data?.name}}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>
  </p-tabPanel>
  <p-tabPanel header="Delinquent List">
    <div style="text-align: center; width:100%"
      *ngIf="asro_all_deliquent_sanction != null && asro_all_deliquent_sanction .length != 0">
      <h3 style="color: green">Record in Delinquent List </h3>


      <p-table [value]="asro_all_deliquent_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ data.customerName }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>

  </p-tabPanel>
  <p-tabPanel header="Dutch">

    <div style="text-align: center; width:100%"
      *ngIf="asro_all_dutch_sanction != null && asro_all_dutch_sanction .length != 0">
      <h3 style="color: green">Record in Dutch List </h3>


      <p-table [value]="asro_all_dutch_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ data.firstName }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>
  </p-tabPanel>
  <p-tabPanel header="Canada">

    <div style="text-align: center; width:100%"
      *ngIf="asro_all_canada_sanction != null && asro_all_canada_sanction.length != 0">
      <h3 style="color: green">Record in Canada List </h3>


      <p-table [value]="asro_all_canada_sanction " [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 700px;">Full Name</th>
            <th scope="col" style="width: 100px;">Score</th>
            <th scope="col" style="width: 200px;">More Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ data.GivenNames }}</td>
            <td>
              <p-progressBar [value]="(data.similarity * 100).toFixed(0)"></p-progressBar>
            </td>

            <td><p-button label="More Info" styleClass="small-button" (onClick)="showDialog(data)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="More Information" [(visible)]="displayDialog">
        <p-table [value]="selectedDataProperties">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.property}}</td>
              <td>
                <ng-container *ngIf="isObject(data.value); else notObject">
                  {{data.value | json}}
                </ng-container>
                <ng-template #notObject>{{data.value}}</ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>

    </div>
  </p-tabPanel>
  <p-tabPanel header="FIS">
  </p-tabPanel>
  <p-tabPanel header="HPR">
  </p-tabPanel>
</p-tabView>