<p-messages style="position: absolute; z-index: 1; right: 1em; margin: -1em 0;" [value]="msgs"></p-messages>
<div class="card">
  <div class="graph-header">
    <div class="flex justify-between">
      <div class="spacer">
        <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">Dishonoured Cheque Table</h5>
      </div>
      <div class="flex">
        <button
          type="button"
          pButton
          pRipple
          (click)="exportExcel()"
          class="p-button text-blue-600 text-white m-2 p-2"
          pTooltip="XLS"
          tooltipPosition="bottom"
        > Download as excel</button>
      </div>
    </div>
  </div>
  <p-table #dt2 [value]="DCQs" selectionMode="single" [tableStyle]="{'min-width': '20rem'}"
    [(selection)]="selectedDCQ" dataKey="id" styleClass="p-datatable-cipms" [showCurrentPageReport]="true"
    id="DCQTable" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[8,16,25,50]" [rows]="5" [paginator]="true" stateStorage="local" stateKey="statedemo-local2"
    [customSort]="true">
    <ng-template pTemplate="header">
      <tr>
        <!-- <th scope="col" pSortableColumn="id" style="width:2%">ID<p-sortIcon field="id"></p-sortIcon></th> -->
        <th scope="col" pSortableColumn="datePresented" style="width:9%">Date Presented</th>
        <th scope="col" pSortableColumn="subProcess.name" style="width:5%">District Name</th>
        <th scope="col" pSortableColumn="branch.name" style="width:8%">Branch Name</th>
        <th scope="col" pSortableColumn="fullNameOfDrawer" style="width:20%">Full Name of Drawer</th>
        <th scope="col" pSortableColumn="accountNumber" style="width:8%">Account Number<p-sortIcon></p-sortIcon></th>
        <th scope="col" pSortableColumn="tin" style="width:8%">TIN Number<p-sortIcon field="tin"></p-sortIcon></th>
        <th scope="col" pSortableColumn="drawerAddress" style="width:7%">Drawer Address<p-sortIcon
            field="amountInBirr"></p-sortIcon></th>
        <th scope="col" pSortableColumn="amountInBirr" style="width:7%">Amount in Birr<p-sortIcon
            field="chequeNumber"></p-sortIcon></th>
        <th scope="col" pSortableColumn="chequeNumber" style="width:10%">Cheque Number<p-sortIcon
            field="chequeType"></p-sortIcon></th>
        <th scope="col" pSortableColumn="chequeType" style="width:7%">Cheque Type</th>
        <th scope="col" pSortableColumn="nameOfBeneficiary" style="width:8%">Name of Beneficiary</th>
        <th scope="col" pSortableColumn="frequency" style="width:8%">Frequency</th>
        <th scope="col" pSortableColumn="Action taken" style="width:70%">Action taken</th>
        <th scope="col" pSortableColumn="Action" style="width:1%" *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_MANAGER')">Actions
        </th>
      </tr>
      <p-confirmDialog [style]="{width: '30vw'}" key="positionDialog" [position]="position"
        [baseZIndex]="10000"></p-confirmDialog>

    </ng-template>

    <ng-template pTemplate="body" let-DCQs>
      <tr [pSelectableRow]="DCQs">
        <td>{{DCQs?.datePresented}}</td>
        <td>{{DCQs?.subProcess?.name}}</td>
        <td>{{DCQs?.branch?.name}}</td>
        <td>{{DCQs?.fullNameOfDrawer}}</td>
        <td>{{DCQs?.accountNumber}}</td>
        <td>{{DCQs?.tin}}</td>
        <td>{{DCQs?.drawerAddress}}</td>
        <td>{{formatAmount(DCQs?.amountInBirr)}}</td>
        <td>{{DCQs?.chequeNumber}}</td>
        <td>{{DCQs?.chequeType?.name}}</td>
        <td>{{DCQs?.nameOfBeneficiary}}</td>
        <td>{{DCQs?.frequency}}</td>
        <td class="truncate" [title]="DCQs?.actionTaken.name">
          {{ DCQs?.actionTaken.name }}
        </td>
        <!-- <td>{{DCQs?.actionTaken.name}}</td> -->
        <td *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_MANAGER')">
          <button pButton (click)="updateDCQs(DCQs?.id)" [ngClass]="{updateBlue: true}" class="p-button-sm mb-3"
            label="Update"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="14">Not found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
