:host ::ng-deep .accordion-custom {
  .accordion-button {
    background-color: var(--cui-dark);
    color: var(--cui-white);
  }
}
.block {
  display: block;
}

.photo-container {
  width: 200px;
  height: 200px;
}

.photo-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding: 10px;
  height: calc(100% - 46px);
}

.photo-preview img {
  max-width: 100%;
  max-height: 100%;
}
::ng-deep .p-dropdown-items {
  width: 250px;
}

::ng-deep .p-dropdown-clearable {
  width: 250px;
}

::ng-deep .p-tooltip {
  max-width: 800px !important;
}
