<div>
  <form #addDivForm="ngForm" (ngSubmit)="addSignature(addDivForm)">
    <div style="margin-top: 2em"></div>
    <div class="flex justify-between">
      <div class="m-4">
        <label for="hex" class="block mb-2"> Employee: </label>
        <p-dropdown
          [options]="employeeslist"
          name="employeeId"
          optionLabel="fullName"
          [filter]="true"
          [(ngModel)]="signatureInfo.employeeId"
          filterBy="fullName"
          [showClear]="true"
          placeholder="Choose employee"
          styleClass="p-password"
          [required]="true"
          class="w-60 h-11 overflow-hidden overflow-ellipsis whitespace-nowrap"
        >
          <ng-template let-employee pTemplate="item">
            <div
              class="dropdown-item w-60 overflow-hidden overflow-ellipsis whitespace-nowrap"
              pTooltip="{{ employee.fullName }}"
              tooltipPosition="right"
            >
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="photo-container md:w-1/2 m-4">
        <div class="photo-preview">
          <img
            *ngIf="imageURL; else noImage"
            [src]="imageURL"
            alt="Photo to display to public"
          />
          <ng-template #noImage>
            <p>Signature image</p>
          </ng-template>
        </div>
        <div class="form-group">
          <input
            type="file"
            class="form-control"
            id="signature"
            name="signature"
            accept="image/*"
            (change)="onFileSelected($event)"
            [required]="true"
          />
        </div>
      </div>
    </div>

    <div style="margin-top: 10em"></div>
    <div class="flex justify-between">
      <p-button label="Cancel" (click)="closeDialog()"></p-button>
      <p-button type="submit" [disabled]="!addDivForm.valid || !imageURL" label="Create signature"></p-button>
    </div>
  </form>
</div>
