<div>
  <form #addDivForm="ngForm" (ngSubmit)="submitAuditProgram(addDivForm)">
    <div style="margin-top: 2em"></div>
    <div class="row">
      <div class="col mb-4">
        <label for="name" class="block mb-2"> Name : </label>
        <input
          pInputText
          id="name"
          [ngModel]="programInfo.name"
          name="name"
          [style]="{ width: '300px', height: '45px' }"
          required
          minlength="3"
        />
      </div>
      
      <div class="col mb-4">
        <label for="previousStatus" class="block mb-2"> Previous Status: </label>
        <input
          pInputText
          id="previousStatus"
          [ngModel]="programInfo.previousStatus"
          name="previousStatus"
          [style]="{ width: '300px', height: '45px' }"
          required
          minlength="3"
        />
      </div>
      </div>


   

      <div class="row">
       <div class="col mb-4">
        <label for="previousDescription" class="block mb-2"> Previous Description : </label>
        <textarea
          pInputText
          id="previousDescription"
          [ngModel]="programInfo.previousDescription"
          name="previousDescription"
          style="width: 98%; height: 150px; resize: none"
          required
          minlength="3">
       </textarea>
       </div>
      </div>


      <div class="row">
      <div class="col mb-4">
        <label for="methodology" class="block mb-2"> Methodology : </label>
        <input
          pInputText
          id="methodology"
          [ngModel]="programInfo.methodology"
          name="methodology"
          [style]="{ width: '300px', height: '45px' }"
          required
          minlength="3"
        />
      </div>
      <div class="col mb-4">
        <label for="OverAllTime" class="block mb-2"> Overall Time : </label>
        <input
          pInputText
          id="OverAllTime"
          [ngModel]="programInfo.overAllTime"
          name="OverAllTime"
          [style]="{ width: '300px', height: '45px' }"
          required
          minlength="3"
        />
      </div>

      <div class="row">
        <div class="col mb-4">
         <label for="scopeDescription" class="block mb-2"> Scope Description : </label>
         <textarea
           pInputText
           id="scopeDescription"
           [ngModel]="programInfo.scopeDescription"
           name="scopeDescription"
           style="width: 100%; height: 150px; resize: none"
           required
           minlength="3">
        </textarea>
        </div>
       </div>

    
    </div>
    

    <div style="margin-top: 10em"></div>
    <div class="buttonDiv">
      <p-button label="Cancel" (click)="closeDialog()"></p-button>
      <p-button
        *ngIf="!update"
        label="Create audit program"
        [disabled]="addDivForm.invalid!"
        type="submit"
      ></p-button>
      <!-- <p-button
        *ngIf="update"
        label="Update audit universe"
        [disabled]="addDivForm.invalid!"
        type="submit"
      ></p-button> -->
    </div>
  </form>
</div>
