<p-messages
  style="position: absolute; z-index: 1; right: 1em; margin: -1em 0"
  [value]="msgs"
></p-messages>
<div class="flex justify-between mb-3">
  <div class="flex">
    <span class="p-input-icon-left ml-auto">
      <input
        pInputText
        type="text"
        (input)="dt1.filterGlobal($any($event.target)?.value, 'contains')"
        placeholder="Search here"
      />
    </span>
  </div>
</div>
<div class="card">
  <div class="spacer">
    <span style="font-size: larger; font-weight: bolder"
      >Daily activity control gap Monitoring</span
    >
  </div>

  <p-table
    #dt1
    [value]="dacgms"
    selectionMode="single"
    [tableStyle]="{ 'min-width': '20rem' }"
    [(selection)]="selectedDACGM"
    dataKey="id"
    styleClass="p-datatable-dacgms"
    [showCurrentPageReport]="true"
    id="dacgmTable"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[8, 16, 25, 50]"
    [rows]="8"
    [paginator]="true"
    [globalFilterFields]="[
      'caseId',
      'date',
      'subProcess.name',
      'branch.name',
      'irregularity.name',
      'irregularity.allSubCategory.name',
      'irregularity.allSubCategory.allcategory.name',
      'amountInvolved',
      'accountName',
      'accountNumber',
      'responsiblePerson',
      'activityStatus.name',
      'actionPlanDueDate'
    ]"
    (sortFunction)="customSort($event)"
    [customSort]="true"
  >
  <ng-template pTemplate="caption">
    <div class="flex">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file"
        (click)="dt1.exportCSV()"
        class="m-2"
        pTooltip="CSV"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success m-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-pdf"
        (click)="exportPdf()"
        class="p-button-warning m-2"
        pTooltip="PDF"
        tooltipPosition="bottom"
      ></button>
    </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          scope="col"
          pSortableColumn="subProcess.name"
          style="width: 8%"
          *ngIf="this.roles.includes('ROLE_ICMS_ADMIN')"
        >
          District Name
        </th>
        <th
          scope="col"
          pSortableColumn="branch.name"
          style="width: 8%"
          *ngIf="
            this.roles.includes('ROLE_ICMS_ADMIN') ||
            this.roles.includes('ROLE_ICMS_DISTRICT_IC')
          "
        >
          Branch Name
        </th>
        <th scope="col" pSortableColumn="date" style="width: 7%">Date</th>
        <th scope="col" pSortableColumn="caseId" style="width: 10%">Case ID</th>
        <th scope="col" pSortableColumn="irregularity.allSubCategory.allcategory.name" style="width: 7%">
          Category
        </th>
        <th scope="col" pSortableColumn="irregularity.allSubCategory.name" style="width: 7%">
          SubCategory
        </th>
        <th scope="col" pSortableColumn="irregularity.name" style="width: 25%">
          Irregularity
        </th>
        <th scope="col" pSortableColumn="amountInvolved" style="width: 7%">
          Amount Involved
        </th>
        
        <th scope="col" pSortableColumn="accountName" style="width: 10%">
          Account Name
        </th>
        <th scope="col" pSortableColumn="accountNumber" style="width: 10%">
          Account Number
        </th>
        <th scope="col" pSortableColumn="responsiblePerson" style="width: 10%">
          Responsible Person
        </th>
        <th scope="col" pSortableColumn="activityStatus.name" style="width: 5%">
          Status
        </th>
        <th scope="col" pSortableColumn="actionPlanDueDate" style="width: 10%">
          Action Plan Due Date<p-sortIcon></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="" style="width: 8%">Past Due</th>
        <th
          scope="col"
          pSortableColumn="Action"
          style="width: 1%"
          *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_IC')"
        >
          Actions
        </th>
      </tr>
      <p-confirmDialog
        [style]="{ width: '30vw' }"
        key="positionDialog"
        [position]="position"
        [baseZIndex]="10000"
      ></p-confirmDialog>
    </ng-template>

    <ng-template pTemplate="body" let-dacgm>
      <tr [pSelectableRow]="dacgm">
        <td *ngIf="this.roles.includes('ROLE_ICMS_ADMIN')">
          {{ dacgm?.subProcess?.name }}
        </td>
        <td
          *ngIf="
            this.roles.includes('ROLE_ICMS_ADMIN') ||
            this.roles.includes('ROLE_ICMS_DISTRICT_IC')
          "
        >
          {{ dacgm?.branch?.name }}
        </td>
        <td>{{ dacgm?.date | date : "MM/dd/yyyy" }}</td>
        <td>{{ dacgm?.caseId }}</td>
        <td>{{ dacgm?.irregularity?.allSubCategory?.allcategory?.name }}</td>
        <td>{{ dacgm?.irregularity?.allSubCategory?.name }}</td>
        <td>
          <ng-container
            *ngIf="dacgm?.irregularity?.name !== 'Other'; else otherIBlock"
          >
            {{ dacgm?.irregularity?.name }}
          </ng-container>
          <ng-template #otherIBlock>
            {{ dacgm?.otherIrregularity }}
          </ng-template>
        </td>
        <td>{{ dacgm?.amountInvolved }}</td>
        <td>{{ dacgm?.accountName }}</td>
        <td>{{ dacgm?.accountNumber }}</td>
        <td>{{ dacgm?.responsiblePerson }}</td>
        <td>{{ dacgm?.activityStatus.name }}</td>
        <td
          *ngIf="
            this.roles.includes('ROLE_ICMS_BRANCH_IC') ||
            this.roles.includes('ROLE_ICMS_ADMIN') ||
            this.roles.includes('ROLE_ICMS_DISTRICT_IC')
          "
        >
          {{ dacgm?.actionPlanDueDate | date : "MM/dd/yyyy" }}
        </td>
        <td
          *ngIf="
            this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') ||
            this.roles.includes('ROLE_ICMS_DISTRICT_IC')
          "
        >
          <div class="flex gap-2">
            <button
              *ngIf="
                this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') &&
                !dacgm.actionTaken &&
                dacgm.activityStatus.name === 'Open' &&
                !dacgm.escalatedByManager
              "
              pButton
              (click)="approveActionPlan(dacgm?.id)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm w-24 h-10 p-2"
              label="Take action"
            ></button>
            <button
              class="p-button-sm h-10 p-2 whitespace-nowrap"
              *ngIf="
                this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') &&
                dacgm.activityStatus.name === 'Open' &&
                !dacgm.actionTaken &&
                !dacgm.escalatedByManager
              "
              pButton
              (click)="escalateDACGM(dacgm?.id)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm mb-3"
              label="Escalate"
            ></button>

            <button
              *ngIf="
                this.roles.includes('ROLE_ICMS_DISTRICT_IC') &&
                dacgm.escalatedByManager &&
                dacgm.activityStatus.name === 'Open' &&
                !dacgm.actionTaken
              "
              pButton
              (click)="approveActionPlan(dacgm?.id)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm mb-3"
              class="p-button-sm h-10 p-2 whitespace-nowrap"
              label="Take action"
            ></button>
          </div>
        </td>

        <td
          [ngClass]="{
            red:
              dacgm?.activityStatus.name === 'Open' &&
              calculatePastDue(dacgm?.actionPlanDueDate) <= 0,
            'other-color':
              dacgm?.activityStatus.name === 'Open' &&
              calculatePastDue(dacgm?.actionPlanDueDate) > 0,
            closed:
              dacgm?.activityStatus.name === 'Closed' &&
              !dacgm?.actionPlanDueDate
          }"
        >
          <ng-container
            *ngIf="
              dacgm?.activityStatus.name === 'Open' &&
                dacgm?.actionPlanDueDate !== null;
              else closedStatus
            "
          >
            <ng-container
              *ngIf="
                calculatePastDue(dacgm?.actionPlanDueDate) <= 0;
                else otherText
              "
            >
              {{ absoluteValue(calculatePastDue(dacgm?.actionPlanDueDate)) }}
            </ng-container>
            <ng-template #otherText> </ng-template>
          </ng-container>
          <ng-template #closedStatus>
            <span
              *ngIf="dacgm?.actionPlanDueDate"
              [ngClass]="{
                red: dacgm?.activityStatus.name === 'Closed'
              }"
            >
              Closed!
            </span>
          </ng-template>
        </td>
        <td *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_IC')">
          <button
            pButton
            (click)="updateDACGMs(dacgm.id)"
            [ngClass]="{ updateBlue: true }"
            class="p-button-sm mb-3"
            label="Update"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12">Not found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
