<p-messages style="position: absolute; z-index: 1; right: 1em; margin: -1em 0;" [value]="msgs"></p-messages>
<div class="card" >
  <div class="spacer">
    <span style="font-size: larger; font-weight: bolder;">Daily activity control gap Monitoring</span>
    <button *ngIf="this.roles.includes('ROLE_ICMS_ADMIN')" pButton (click)="downloadExcel('dacgmTable')"
      [ngClass]="{updateBlue: true}" style="height: max-content;" class="p-button-sm mt-3 mr-3"
      label="Download as Excel"><svg _ngcontent-yvw-c268="" cIcon="" name="cilCloudDownload" ng-reflect-content=""
        style="margin-right: 10px; color:white" ng-reflect-name="cilCloudDownload" viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="icon">
        <polygon fill="var(--ci-primary-color, currentColor)"
          points="272 434.744 272 209.176 240 209.176 240 434.744 188.118 382.862 165.49 405.489 256 496 346.51 405.489 323.882 382.862 272 434.744"
          class="ci-primary"></polygon>
        <path fill="var(--ci-primary-color, currentColor)"
          d="M400,161.176c0-79.4-64.6-144-144-144s-144,64.6-144,144a96,96,0,0,0,0,192h80v-32H112a64,64,0,0,1,0-128h32v-32a112,112,0,0,1,224,0v32h32a64,64,0,0,1,0,128H320v32h80a96,96,0,0,0,0-192Z"
          class="ci-primary"></path>
      </svg> </button>
  </div>
  <tr>
    <th id="" colspan="13">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <label for="" style="height: 45px; margin-top: 15px; margin-left: 20px;margin-right: 5px;">Search by:</label>
        <div class="flex-auto" style="margin-right: 20px;">
          <p-dropdown [options]="searchParameter" name="selectedSearchParameter" ngModel
            [(ngModel)]="selectedSearchParameter" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
            placeholder="Select Search Parameter" class="w-full" styleClass="p-password"
            [style]="{'width':'380px','height':'45px'}" [required]="true">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="selectedSearchParameter">
                <div>{{ selectedSearchParameter.name }}</div>
              </div>
            </ng-template>
            <ng-template let-selectedSearchParametere pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{selectedSearchParametere.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <input *ngIf="selectedSearchParameter" style="height: 45px; width: 380px" pInputText type="text"
          (input)="filterTable($event.target, dt1)" placeholder="Search {{selectedSearchParameter.name}}"
          class="p-column-filter">
      </div>

    </th>
  </tr>

  <p-table #dt1 [value]="dacgms" selectionMode="single" [tableStyle]="{'min-width': '20rem'}"
    [(selection)]="selectedDACGM" dataKey="id" styleClass="p-datatable-dacgms" [showCurrentPageReport]="true"
    id="dacgmTable" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[8,16,25,50]" [rows]="8" [paginator]="true" stateStorage="local" stateKey="statedemo-local1"
    (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template pTemplate="header">
      <tr>
        <!-- <th scope="col" pSortableColumn="id" style="width:2%">ID<p-sortIcon field="id"></p-sortIcon></th> -->
        <th scope="col" pSortableColumn="subProcess.name" style="width:8%"
          *ngIf="this.roles.includes('ROLE_ICMS_ADMIN')">District Name</th>
        <th scope="col" pSortableColumn="branch.name" style="width:8%"
          *ngIf="this.roles.includes('ROLE_ICMS_ADMIN') || this.roles.includes('ROLE_ICMS_DISTRICT_IC')">Branch Name</th>
        <th scope="col" pSortableColumn="date" style="width:7%">Date</th>
        <th scope="col" pSortableColumn="caseId" style="width:10%">Case ID</th>
        <th scope="col" pSortableColumn="irregularity.allSubCategory.allategory.name" style="width:7%">Category</th>
        <th scope="col" pSortableColumn="irregularity.allSubCategory.name" style="width:7%">SubCategory</th>
        <th scope="col" pSortableColumn="irregularity.name" style="width:25%">Irregularity</th>
        <!-- <th scope="col" pSortableColumn="otherIrregularity.name" style="width:25%">Other Irregualrity</th> -->
        <th scope="col" pSortableColumn="amountInvolved" style="width:7%">Amount Involved</th>
        <th scope="col" pSortableColumn="responsiblePerson" style="width:10%">Responsible Person</th>
        <th scope="col" pSortableColumn="activityStatus.name" style="width:5%">Status</th>
        <th scope="col" pSortableColumn="actionPlanDueDate" style="width:10%">Action Plan Due Date<p-sortIcon></p-sortIcon></th>
        <th scope="col" pSortableColumn="" style="width:8%">Past Due</th>
        <th scope="col" pSortableColumn="Action" style="width:1%" *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_IC')">Actions
        </th>
      </tr>
      <p-confirmDialog [style]="{width: '30vw'}" key="positionDialog" [position]="position"
        [baseZIndex]="10000"></p-confirmDialog>

    </ng-template>

    <ng-template pTemplate="body" let-dacgm>
      <tr [pSelectableRow]="dacgm">

        <td *ngIf="this.roles.includes('ROLE_ICMS_ADMIN')">{{dacgm?.subProcess?.name}}</td>
        <td *ngIf="this.roles.includes('ROLE_ICMS_ADMIN') || this.roles.includes('ROLE_ICMS_DISTRICT_IC')">{{dacgm?.branch?.name}}</td>
        <td>{{dacgm?.date  | date:'MM/dd/yyyy'}}</td>
        <td>{{dacgm?.caseId}}</td>
        <td>{{dacgm?.irregularity?.allSubCategory?.allcategory?.name}}</td>
        <td>{{dacgm?.irregularity?.allSubCategory?.name}}</td>
        <td>
          <ng-container *ngIf="dacgm?.irregularity?.name !== 'Other'; else otherIBlock">
            {{dacgm?.irregularity?.name}}
          </ng-container>
          <ng-template #otherIBlock>
            {{dacgm?.otherIrregularity}}
          </ng-template>
        </td>
        <td>{{dacgm?.amountInvolved}}</td>
        <td>{{dacgm?.responsiblePerson}}</td>
        <td>{{dacgm?.activityStatus.name}}</td>
        <td *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_IC') || this.roles.includes('ROLE_ICMS_ADMIN')  ">
          {{dacgm?.actionPlanDueDate | date:'MM/dd/yyyy'}}
         </td>
            <td *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') || this.roles.includes('ROLE_ICMS_DISTRICT_IC')">
          <div class="flex gap-2">
          <button  *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_MANAGER')  && !dacgm.actionTaken   && !dacgm.escalatedByManager" pButton (click)="approveActionPlan(dacgm?.id)" [ngClass]="{updateBlue: true}" 
          class="p-button-sm w-24 h-10 p-2" label="Take action"></button>
             <button  class="p-button-sm h-10 p-2 whitespace-nowrap" *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') && !dacgm.actionTaken && !dacgm.escalatedByManager" pButton (click)="escalateDACGM(dacgm?.id)" [ngClass]="{updateBlue: true}" class="p-button-sm mb-3"
            label="Escalate"></button> 
          

            <button  *ngIf="this.roles.includes('ROLE_ICMS_DISTRICT_IC') && dacgm.escalatedByManager && !dacgm.actionTaken" pButton (click)="approveActionPlan(dacgm?.id)" [ngClass]="{updateBlue: true}" class="p-button-sm mb-3"
            class="p-button-sm h-10 p-2 whitespace-nowrap"label="Take action"></button>

          </div>
        
        </td> 
    

     <td [ngClass]="{
        'red': dacgm?.activityStatus.name === 'Open' && calculatePastDue(dacgm?.actionPlanDueDate) <= 0,
        'other-color': dacgm?.activityStatus.name === 'Open' && calculatePastDue(dacgm?.actionPlanDueDate) > 0,
        'closed': dacgm?.activityStatus.name === 'Closed' && !dacgm?.actionPlanDueDate
      }">
        <ng-container *ngIf="dacgm?.activityStatus.name === 'Open' && dacgm?.actionPlanDueDate !== null; else closedStatus">
          <ng-container *ngIf="calculatePastDue(dacgm?.actionPlanDueDate) <= 0; else otherText">
            {{ absoluteValue(calculatePastDue(dacgm?.actionPlanDueDate)) }}
          </ng-container>
          <ng-template #otherText>
            
          </ng-template>
        </ng-container>
        <ng-template #closedStatus>
          <span *ngIf="dacgm?.actionPlanDueDate" [ngClass]="{
            'red': dacgm?.activityStatus.name === 'Closed'
          }">
            Closed!
          </span>
        </ng-template>
      </td>
         <td *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_IC')">
          <button pButton (click)="updateDACGMs(dacgm.id)" [ngClass]="{updateBlue: true}" class="p-button-sm mb-3"
            label="Update"></button></td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12">Not found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
