<p-toast position="top-right"></p-toast>
<div class="but"><p-button label="Create a new Checklist" (click)="createNewcaChecklist()"></p-button></div>
<div class="card">
    <h5 class="table-title">Check Lists</h5>
    <p-table #dt1 [value]="caChecklists" [exportHeader]="'customExportHeader'" selectionMode="single" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
        [rows]="5" [rowsPerPageOptions]="[5,10,15,20]" [paginator]="true" stateStorage="session"
        stateKey="statedemo-session">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID </th>
                <th pSortableColumn="inquiryType">Inquiry Type<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="requestedOrgan">Requested Organ <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="taskStatus">Status<p-sortIcon field="taskStatus"></p-sortIcon></th>
                <th scope="col">Actions</th>

            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col"> <input pInputText type="text"
                        (input)="dt1.filter($any($event.target)?.value, 'inquiryType', 'contains')"
                        [value]="$any(dt1.filters['inquiryType'])?.value" placeholder="Search by ECX Account" class="p-column-filter">
                </th>
                <th scope="col"> <input pInputText type="text"
                        (input)="dt1.filter($any($event.target)?.value, 'requestedOrgan', 'contains')"
                        [value]="$any(dt1.filters['requestedOrgan'])?.value" placeholder="Search by Balance Account"
                        class="p-column-filter"></th>
                        <th scope="col"></th>
                <th scope="col"> <input pInputText type="text"
                    (input)="dt1.filter($any($event.target)?.value, 'taskStatus', 'contains')"
                    [value]="$any(dt1.filters['taskStatus'])?.value" placeholder="Search by Status"
                    class="p-column-filter"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-caChecklists let-rowIndex="rowIndex">
            <tr [pSelectableRow]="caChecklists">
                <td>{{rowIndex + 1}}</td>
                <td>{{caChecklists?.inquiryType}}</td>
                <td>{{caChecklists?.requestedOrgan}}</td>
                <td>{{caChecklists?.description}}</td>
                <td>{{caChecklists?.taskStatus}}</td>
                <td>
                    <button pButton (click)="viewHistory(caChecklists.id)" [ngClass]="{updateBlue: true}"
                        class="p-button-sm" label="Details"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>