<p-messages
  style="position: absolute; z-index: 1; right: 1em; margin: -1em 0"
  [value]="msgs"
></p-messages>
<div>
  <form #FireExtinguisherForm="ngForm" (ngSubmit)="submitFireExtinguisher(FireExtinguisherForm)" required>
    <div class="flex flex-wrap gap-3 mb-4">
      <div class="flex-auto" *ngIf="!update">
        <label for="alphabetic" class="block mb-2"> Branch </label>
        <input
          pInputText
          pKeyFilter="alpha"
          id="alphabetic"
          ngModel
          [(ngModel)]="FireExtinguisher.branch"
          name="branch"
          [style]="{ width: '30vw', height: '45px' }"
          [readonly]="true"
        />
      </div>
      <div class="flex-auto" *ngIf="!update">
        <label for="alphabetic" class="block mb-2"> District </label>
        <input
          pInputText
          pKeyFilter="alpha"
          id="alphabetic"
          ngModel
          [(ngModel)]="FireExtinguisher.district"
          name="branch"
          [style]="{ width: '30vw', height: '45px' }"
          [readonly]="true"
        />
      </div>
      <div class="flex-auto" *ngIf="!update">
        <label for="extinguisherSerialNumber" class="block mb-2"
          >Extinguisher Serial Number</label
        >
        <input
          pInputText
          id="extinguisherSerialNumber"
          [(ngModel)]="FireExtinguisher.extinguisherSerialNumber"
          name="extinguisherSerialNumber"
          [style]="{ width: '30vw', height: '45px' }"
        />
      </div>
      <div class="flex-auto" *ngIf="!update">
        <label for="size" class="block mb-2"> Size(KG) </label>
        <p-inputNumber
          [(ngModel)]="FireExtinguisher.size"
          inputId="size"
          [useGrouping]="false"
          [style]="{ width: '30vw', height: '45px' }"
          name="size"
        ></p-inputNumber>
      </div>
      <div class="flex-auto">
        <label for="inspectionDate" class="block mb-2">Inspection Date </label>
        <p-calendar
          id="inspectionDate"
          [(ngModel)]="FireExtinguisher.inspectionDate"
          name="inspectionDate"
          [style]="{ width: '30vw', height: '45px' }"
          [showIcon]="true"
          [required]="true"
        ></p-calendar>
      </div>
      <div class="flex-auto">
        <label for="nextInspectionDate" class="block mb-2">Next Inspection Date </label>
        <p-calendar
          id="nextInspectionDate"
          [(ngModel)]="FireExtinguisher.nextInspectionDate"
          name="nextInspectionDate"
          [style]="{ width: '30vw', height: '45px' }"
          [showIcon]="true"
          [required]="true"
        ></p-calendar>
      </div>
      <div class="flex-auto" *ngIf="!update">
        <label for="alphabetic" class="block mb-2">Days left for inspection</label>
        <input
          pInputText
          pKeyFilter="alpha"
          id="alphabetic"
          ngModel
          [(ngModel)]="FireExtinguisher.daysLeftForInspection"
          name="branch"
          [style]="{ width: '30vw', height: '45px' }"
          [readonly]="true"
        />
      </div>
      <div class="flex-auto" *ngIf="update">
        <label for="hex" class="block mb-2"> Status </label>
        <p-dropdown
          [options]="statuses"
          name="status"
          ngModel
          [(ngModel)]="selectedstatus"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Select  Status"
          class="w-full"
          styleClass="p-password"
          [style]="{ width: '30vw', height: '45px' }"
          [required]="true"
        >
          (ngOnInit)="populateSelectedstatus(existingStatus)">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedstatus">
              <div>{{ selectedstatus.name }}</div>
            </div>
          </ng-template>
          <ng-template let-selectedstatuse pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ selectedstatuse.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <p-button
      [label]="update ? 'Update' : 'Create'"
      type="submit"
      [disabled]="FireExtinguisherForm.invalid"
      class="createButton"
    ></p-button>
  </form>
</div>
