<p-toast position="top-right"></p-toast>
<div class="flex justify-end">
  <p-button
    label="Create a new auditor"
    (click)="createNewAuditStaff()"
  ></p-button>
</div>
<div class="card">
  <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">Auditors</h5>
  <p-table
    #dt
    [columns]="cols"
    [value]="auditStaff"
    [exportHeader]="'customExportHeader'"
    selectionMode="single"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
    stateStorage="session"
    stateKey="statedemo-session"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file"
          (click)="exportCsv()"
          class="m-2"
          pTooltip="CSV"
          tooltipPosition="bottom"
        ></button>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          (click)="exportExcel()"
          class="p-button-success m-2"
          pTooltip="XLS"
          tooltipPosition="bottom"
        ></button>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file-pdf"
          (click)="exportPdf()"
          class="p-button-warning m-2"
          pTooltip="PDF"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="user.employee.fullName">
          Name<p-sortIcon field="user.employee.fullName"></p-sortIcon>
        </th>
        <th pSortableColumn="auditType.name">
          Audit Team<p-sortIcon field="auditType.name"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status<p-sortIcon field="status"></p-sortIcon>
        </th>
        <th scope="col">Actions</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          <input
            pInputText
            type="text"
            (input)="
              dt.filter(
                $any($event.target)?.value,
                'user.employee.fullName',
                'contains'
              )
            "
            [value]="$any(dt.filters['fullName'])?.value"
            placeholder="Search by Name"
            class="p-column-filter"
          />
        </th>
        <th scope="col">
          <input
            pInputText
            type="text"
            (input)="
              dt.filter(
                $any($event.target)?.value,
                'auditType.name',
                'contains'
              )
            "
            [value]="$any(dt.filters['auditType'])?.value"
            placeholder="Search by Audit Team"
            class="p-column-filter"
          />
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-auditStaff let-rowIndex="rowIndex">
      <tr [pSelectableRow]="auditStaff">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ auditStaff?.fullName }}</td>
        <td>{{ auditStaff?.auditType?.name }}</td>
        <td>{{ auditStaff?.status }}</td>
        <td>
          <div class="flex gap-2">
            <button
              pButton
              (click)="updateAuditStaff(auditStaff.id)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm w-20 h-10"
              label="Update"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
