<div>
  <form #addDivForm="ngForm" (ngSubmit)="submitAuditSchedule(addDivForm)">
    <div style="margin-top: 2em"></div>
    <h5 class="mb-4 text-xl text-blue-600">
      Annual plan:
      <span class="text-black text-base">{{ annualPlan?.name }}</span>
      <span class="text-black text-base">{{
        scheduleInfo?.annualPlan?.name
      }}</span>
    </h5>

    <div class="row">
      <div class="col mb-4">
        <label for="startOn" class="block mb-2"> Start on: </label>
        <p-calendar
          id="startOn"
          [ngModel]="scheduleInfo.startOn"
          name="startOn"
          [minDate]="startOn"
          (ngModelChange)="startOn = $event"
          [defaultDate]="startOn"
          [maxDate]="endOn"
          [style]="{ width: '300px', height: '45px' }"
          [required]="true"
        ></p-calendar>
      </div>
      <div class="col mb-4">
        <label for="endOn" class="block mb-2"> End on: </label>
        <p-calendar
          id="endOn"
          [ngModel]="scheduleInfo.endOn"
          name="endOn"
          [minDate]="startOn"
          [defaultDate]="startOn"
          [maxDate]="endOn"
          [style]="{ width: '300px', height: '45px' }"
          [required]="true"
        ></p-calendar>
      </div>
    </div>
    <div class="row">
      <div class="col mb-4">
        <label for="dropdown" class="block mb-2"> Select quarter: </label>
        <p-dropdown
          [options]="dropdownOptions"
          name="quarter"
          [(ngModel)]="selectedDropdown"
          [showClear]="true"
          placeholder="Choose level"
          styleClass="p-password"
          [required]="true"
          [style]="{ width: '300px', height: '45px' }"
        >
        </p-dropdown>
      </div>
      <div class="col" *ngIf="update">
        <label for="integer" class="block mb-2">Assign members:</label>
        <p-button
          (click)="AssignMembers()"
          class="m-12"
          icon="pi pi-info-circle"
          label="Assign members"
        ></p-button>
      </div>
    </div>

    <div style="margin-top: 12.5em"></div>
    <div class="buttonDiv">
      <p-button label="Cancel" (click)="closeDialog()"></p-button>
      <p-button
        *ngIf="!update"
        label="Create audit scheudle"
        [disabled]="addDivForm.invalid!"
        type="submit"
      ></p-button>
      <p-button
        *ngIf="update"
        label="Update audit scheudle"
        [disabled]="addDivForm.invalid!"
        type="submit"
      ></p-button>
    </div>
  </form>
</div>
