<div *ngIf="newDiv">
  <form cForm class="row g-3" #addAuthForm="ngForm" (ngSubmit)="addAuthority(addAuthForm)">
    <c-col [md]="6">
      <label cLabel for="inputState">Employee</label>
      <select cSelect id="inputState" ngModel name="employeeId" id="016">
        <option value="" disabled>Choose Employee</option>
        <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.fullName}}</option>
      </select>
    </c-col>

    <c-col [xs]="12">
      <p-button label="Create authority" type="submit" [disabled]="addAuthForm.invalid"></p-button>
    </c-col>
  </form>

</div>

<div *ngIf="update">
  <form cForm class="row g-3" #addAuthForm="ngForm" (ngSubmit)="addAuthority(addAuthForm)">
    <c-col [md]="6">
      <label cLabel for="inputState">Employee</label>
      <select cSelect id="inputState" ngModel name="employee" id="016">
        <option value="" disabled>Choose Employee</option>
        <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.fullName}}</option>
      </select>
    </c-col>


    <c-col [xs]="12">
      <p-button label="Create authority" type="submit" [disabled]="addAuthForm.invalid"></p-button>
    </c-col>
  </form>

</div>
