.spinner-container {
    text-align: center;
  }
input{
  margin: 6px 0 6px 0 !important;
}
.btn{
  margin-top: 6px !important;
  margin-left: 45%;
}
.delete {
  width: 50% !important;
  margin-left: 20% !important;
  display: flex !important;
  align-items: center !important;

}
input {
  margin-left: 10px  !important;
}