<p-toast position="top-right"></p-toast>
<div class="flex justify-between mb-3">
  <div class="flex">
    <span class="p-input-icon-left ml-auto">
      <input
        pInputText
        type="text"
        (input)="dt.filterGlobal($any($event.target)?.value, 'contains')"
        placeholder="Search here"
      />
    </span>
  </div>
</div>
<div class="card">
  <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">Procurement Table</h5>
  <p-table
    #dt
    [columns]="cols"
    [value]="ProcurementList"
    [exportHeader]="'customExportHeader'"
    selectionMode="single"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [globalFilterFields]="[
      'procurementDate',
      'caseId',
      'procurementNumber',
      'allCategory.name',
      'allSubCategory.name',
      'irregularity',
      'amountInvolved',
      'customerName',
      'responsiblePerson',
      'procurementStatus.name'
    ]"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="procurementDate">
          Date
          <p-sortIcon field="procurementDate"></p-sortIcon>
        </th>
        <th pSortableColumn="caseId">
          Case ID
          <p-sortIcon field="caseId"></p-sortIcon>
        </th>
        <th pSortableColumn="referenceNumber">
          Reference Number
          <p-sortIcon field="referenceNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="allCategory.name">
          Category
          <p-sortIcon field="allCategory.name"></p-sortIcon>
        </th>
        <th pSortableColumn="allSubCategory.name">
          Sub-category
          <p-sortIcon field="allSubCategory.name"></p-sortIcon>
        </th>
        <th pSortableColumn="irregularity">
          Irregularity
          <p-sortIcon field="irregularity"></p-sortIcon>
        </th>
        <th pSortableColumn="amountInvolved">
          Amount Involved
          <p-sortIcon field="amountInvolved"></p-sortIcon>
        </th>
        <th pSortableColumn="customerName">
          Customer Name
          <p-sortIcon field="customerName"></p-sortIcon>
        </th>
        <th pSortableColumn="responsiblePerson">
          Responsible Person
          <p-sortIcon field="responsiblePerson"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="actionPlanDueDate" style="width: 10%">
          Action Plan Due Date<p-sortIcon></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="">Past Due</th>
        
     
        <th pSortableColumn="procurementStatus.name">
          Status
          <p-sortIcon field="procurementStatus.name"></p-sortIcon>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-procurement let-rowIndex="rowIndex">
      <tr [pSelectableRow]="procurement">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ procurement?.procurementDate | date : "MM/dd/yyyy" }}</td>
        <td>{{ procurement?.caseId }}</td>
        <td>{{ procurement?.referenceNumber }}</td>
        <td>{{ procurement?.allCategory?.name }}</td>
        <td>{{ procurement?.allSubCategory?.name }}</td>
        <td
          pTooltip="{{ procurement?.irregularity?.name }}"
          tooltipPosition="top"
          styleClass="custom-tooltip"
        >
          <div class="w-64 overflow-hidden overflow-ellipsis">
            {{ procurement?.irregularity?.name }}
          </div>
        </td>

        <td>{{ procurement?.amountInvolved }}</td>
        <td>{{ procurement?.customerName }}</td>
        <td>{{ procurement?.responsiblePerson }}</td>
        <td>{{ procurement?.actionPlanDueDate }}</td>
        <td
          [ngClass]="{
            red:
              procurement?.procurementStatus.name === 'Open' &&
              daysPastDue(procurement?.actionPlanDueDate) <= 0,
            'other-color':
              procurement?.procurementStatus.name === 'Open' &&
              daysPastDue(procurement?.actionPlanDueDate) > 0,
            closed:
            procurement?.procurementStatus.name === 'Closed' &&
              !procurement?.actionPlanDueDate
          }"
        >
          <ng-container
            *ngIf="
              procurement?.procurementStatus?.name === 'Open' &&
              procurement?.actionPlanDueDate !== null;
              else closedStatus
            "
          >
            <ng-container
              *ngIf="
                daysPastDue(procurement?.actionPlanDueDate) <= 0;
                else otherText
              "
            >
              {{ absoluteValue(daysPastDue(procurement?.actionPlanDueDate)) }} days past due
            </ng-container>
            <ng-template #otherText> </ng-template>
          </ng-container>
          <ng-template #closedStatus>
            <span
              *ngIf="procurement?.actionPlanDueDate"
              [ngClass]="{
                red: procurement?.procurementStatus?.name === 'Closed'
              }"
            >
              Closed!
            </span>
          </ng-template>
        </td>


          <td>{{ procurement?.procurementStatus?.name }}</td>
          <td >
            <div
              class="flex gap-2 mr-2"
              *ngIf="
                this.roles.includes('ROLE_ICMS_TRADE_OWNER') &&
                !procurement?.actionTaken &&
                procurement?.procurementStatus?.name === 'Open'
              "
            >
              <button
                pButton
                (click)="approveActionPlan(procurement)"
                [ngClass]="{ updateBlue: true }"
                class="p-button-sm w-24 h-10 p-2"
                label="Take action"
              ></button>
            </div>
            <div
              class="flex gap-2"
              *ngIf="this.roles.includes('ROLE_ICMS_TRADE_IC')"
            >
              <button
                pButton
                (click)="updateProcurement(procurement?.id)"
                [ngClass]="{ updateBlue: true }"
                class="p-button-sm w-20 h-10 p-2"
                label="Update"
              ></button>
            </div>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No records found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
