<p-toast position="top-right"></p-toast>
<div class="flex justify-between mb-3">
  <div class="flex">
    <span class="p-input-icon-left ml-auto">
      <input
        pInputText
        type="text"
        (input)="dt.filterGlobal($any($event.target)?.value, 'contains')"
        placeholder="Search here"
      />
    </span>
  </div>
</div>
<div class="card">
  <div class="flex justify-between">
    <div class="spacer">
      <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">Share Table</h5>
    </div>
    <div class="flex">
      <button
        type="button"
        pButton
        pRipple
        (click)="exportExcel()"
        class="p-button text-blue-600 text-white m-2 p-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      > Download as excel</button>
    </div>
  </div>
  <p-table
    #dt
    [columns]="cols"
    [value]="ShareList"
    [exportHeader]="'customExportHeader'"
    selectionMode="single"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [globalFilterFields]="[
      'shareDate',
      'caseId',
      'shareNumber',
      'shareHoldersName',
      'allCategory.name',
      'allSubCategory.name',
      'irregularity.name',
      'amountInvolved',
      'responsiblePerson',
      'shareStatus.name'
    ]"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="shareDate">
          Date
          <p-sortIcon field="shareDate"></p-sortIcon>
        </th>
        <th pSortableColumn="caseId">
          Case ID
          <p-sortIcon field="caseId"></p-sortIcon>
        </th>
        <th pSortableColumn="shareNumber">
          Share Number
          <p-sortIcon field="shareNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="shareHoldersName">
          Share Holder's Name
          <p-sortIcon field="shareHoldersName"></p-sortIcon>
        </th>
        <th pSortableColumn="allCategory.name">
          Category
          <p-sortIcon field="allCategory.name"></p-sortIcon>
        </th>
        <th pSortableColumn="allSubCategory.name">
          Sub-category
          <p-sortIcon field="allSubCategory.name"></p-sortIcon>
        </th>
        <th pSortableColumn="irregularity.name">
          Irregularity
          <p-sortIcon field="irregularity.name"></p-sortIcon>
        </th>
        <th pSortableColumn="amountInvolved">
          Amount
          <p-sortIcon field="amountInvolved"></p-sortIcon>
        </th>
        <th pSortableColumn="responsiblePerson">
          Responsible Person
          <p-sortIcon field="responsiblePerson"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="actionPlanDueDate" style="width: 10%">
          Action Plan Due Date<p-sortIcon></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="">Past Due</th>
        <th pSortableColumn="shareStatus.name">
          Status
          <p-sortIcon field="shareStatus.name"></p-sortIcon>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-share let-rowIndex="rowIndex">
      <tr [pSelectableRow]="share">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ share?.shareDate | date : "MM/dd/yyyy" }}</td>
        <td>{{ share?.caseId }}</td>
        <td>{{ share?.shareNumber }}</td>
        <td>{{ share?.shareHoldersName }}</td>
        <td>{{ share?.allCategory?.name }}</td>
        <td>{{ share?.allSubCategory?.name }}</td>
        <!-- <td>
          <div class="w-64 overflow-hidden overflow-ellipsis">
            {{ share?.irregularity?.name }}
          </div>
        </td> -->
        <td class="w-64 overflow-hidden overflow-ellipsis">
          <ng-container
            *ngIf="share?.irregularity?.name !== 'Other'; else otherIBlock"
          >
            {{ share?.irregularity?.name }}
          </ng-container>
          <ng-template #otherIBlock>
            {{ share?.otherIrregularity }}
          </ng-template>
        </td>

        <td>{{ share?.amountInvolved }}</td>
        <td>{{ share?.responsiblePerson }}</td>
        <td>{{ share?.actionPlanDueDate }}</td>
        <td
          [ngClass]="{
            red:
            share?.shareStatus.name === 'Open' &&
              daysPastDue(share?.actionPlanDueDate) <= 0,
            'other-color':
            share?.shareStatus.name === 'Open' &&
              daysPastDue(share?.actionPlanDueDate) > 0,
            closed:
            share?.shareStatus.name === 'Closed' &&
              !share?.actionPlanDueDate
          }"
        >
          <ng-container
            *ngIf="
              share?.shareStatus?.name === 'Open' &&
              share?.actionPlanDueDate !== null;
              else closedStatus
            "
          >
            <ng-container
              *ngIf="
                daysPastDue(share?.actionPlanDueDate) <= 0;
                else otherText
              "
            >
              {{ absoluteValue(daysPastDue(share?.actionPlanDueDate)) }} days past due
            </ng-container>
            <ng-template #otherText> </ng-template>
          </ng-container>
          <ng-template #closedStatus>
            <span
              *ngIf="share?.actionPlanDueDate"
              [ngClass]="{
                red: share?.shareStatus?.name === 'Closed'
              }"
            >
              Closed!
            </span>
          </ng-template>
        </td>

        <td>{{ share?.shareStatus?.name }}</td>
        <td>
          <div
            class="flex gap-2 mr-2"
            *ngIf="
              this.roles.includes('ROLE_ICMS_SHARE_OWNER') &&
              !share?.actionTaken &&
              share?.shareStatus?.name === 'Open'
            "
          >
            <button
              pButton
              (click)="approveActionPlan(share)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm w-24 h-10 p-2"
              label="Take action"
            ></button>
          </div>
          <div
            class="flex gap-2"
            *ngIf="this.roles.includes('ROLE_ICMS_SHARE_IC')"
          >
            <button
              pButton
              (click)="updateShare(share?.id)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm w-20 h-10 p-2"
              label="Update"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No records found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
