<p-toast position="top-right"></p-toast>
<div class="flex justify-between mb-3">
  <div class="flex">
    <span class="p-input-icon-left ml-auto">
      <input
        pInputText
        type="text"
        (input)="dt.filterGlobal($any($event.target)?.value, 'contains')"
        placeholder="Search here"
      />
    </span>
  </div>
</div>
<div class="card">
  <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">Fire Extinguisher Table</h5>
  <p-table
    #dt
    [columns]="cols"
    [value]="fireExtinguisherList"
    [exportHeader]="'customExportHeader'"
    selectionMode="single"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [globalFilterFields]="[
    'branch.name',
    'subProcess.name',
    'extinguisherSerialNumber',
    'size',
    'inspectionDate',
    'nextInspectionDate',
    'daysLeftForInspection',
    'status',
  ]"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
    stateStorage="session"
    stateKey="statedemo-session"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="branch.name">
          Branch
          <p-sortIcon field="branch.name"></p-sortIcon>
        </th>
        <th pSortableColumn="subProcess.name">
          District
          <p-sortIcon field="subProcess.name"></p-sortIcon>
        </th>
        <th pSortableColumn="extinguisherSerialNumber">
          Extinguisher serial number
          <p-sortIcon field="extinguisherSerialNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="size">
          Size
          <p-sortIcon field="size"></p-sortIcon>
        </th>
        <th pSortableColumn="inspectionDate">
          Inspection Date
          <p-sortIcon field="inspectionDate"></p-sortIcon>
        </th>
        <th pSortableColumn="nextInspectionDate">
          Next Inspection Date
          <p-sortIcon field="nextInspectionDate"></p-sortIcon>
        </th>
        <th pSortableColumn="daysLeftForInspection">
          Days Left For Inspection
          <p-sortIcon field="daysLeftForInspection"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fireExtinguisherList let-rowIndex="rowIndex">
      <tr [pSelectableRow]="fireExtinguisherList">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ fireExtinguisherList?.branch?.name }}</td>
        <td>{{ fireExtinguisherList?.subProcess?.name }}</td>
        <td>{{ fireExtinguisherList?.extinguisherSerialNumber }}</td>
        <td>{{ fireExtinguisherList?.size }}</td>
        <td>{{ fireExtinguisherList?.inspectionDate | date : "MM/dd/yyyy"}}</td>
        <td>{{ fireExtinguisherList?.nextInspectionDate | date : "MM/dd/yyyy"}}</td>
        <td>{{ fireExtinguisherList?.daysLeftForInspection }}</td>
        <td>{{ fireExtinguisherList?.status }}</td>
        <td>
          <div class="flex gap-2">
            <button
              pButton
              (click)="updateFireExtinguisher(fireExtinguisherList.id)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm w-20 h-10 p-2"
              label="Update"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No records found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
