<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>This compliance check system includs the following lists</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">International Sanction Lists</div>
                  <div class="fs-5 fw-semibold">4</div>
                </div>
                <hr class="mt-0" />
                <div>
                  <div class="progress-group">
                    <div class="progress-group-header">
                      <h4>International List</h4>
                    </div>
                  </div>

                  <div class="progress-group">
                    <div class="progress-group-header">
                      <span>UN Sanction List</span>
                    </div>
                  </div>

                  <div class="progress-group">
                    <div class="progress-group-header">
                      <span>EU Sanction List</span>
                    </div>
                  </div>

                  <div class="progress-group">
                    <div class="progress-group-header">
                      <span>UK Sanction List</span>
                    </div>
                  </div>

                  <div class="progress-group">
                    <div class="progress-group-header">
                      <span>OFAC List</span>
                    </div>
                  </div>

                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-secondary py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">
                    Local List
                  </div>
                  <div class="fs-5 fw-semibold">5</div>
                </div>
                <hr class="mt-0" />
                <div class="progress-group">
                  <div class="progress-group-header">
                    <h4>Local List</h4>
                  </div>
                </div>
                <div class="progress-group">
                  <div class="progress-group-header">
                    <span>NBE Delinquent List</span>
                  </div>
                </div>
                <div class="progress-group">
                  <div class="progress-group-header">
                    <span>Business Continuity </span>
                  </div>
                </div>
                <div class="progress-group">
                  <div class="progress-group-header">
                    <span>FIS Block List</span>
                  </div>
                </div>
                <div class="progress-group">
                  <div class="progress-group-header">
                    <span>Media Adversary List</span>
                  </div>
                </div>
                <div class="progress-group">
                  <div class="progress-group-header">
                    <span>HPR List</span>
                  </div>
                </div>
              </c-col>
            </c-row>
          </c-col>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Political Related List</div>
                  <div class="fs-5 fw-semibold">1</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />
            <div class="progress-group">
              <div class="progress-group-header">
                <h4>Political Related List</h4>
              </div>
            </div>

            <div class="progress-group">
              <div class="progress-group-header">
                <span>Politically Exposed People</span>
              </div>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
