<p-messages
  style="position: absolute; z-index: 1; right: 1em; margin: -1em 0"
  [value]="msgs"
></p-messages>
<div class="flex justify-between mb-3">
  <div class="flex">
    <span class="p-input-icon-left ml-auto">
      <input
        pInputText
        type="text"
        (input)="dt1.filterGlobal($any($event.target)?.value, 'contains')"
        placeholder="Search here"
      />
    </span>
  </div>
</div>
<div class="card">
  <div class="graph-header">
    <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">
      Collateral Insurance Policy Monitoring Table
    </h5>
  </div>

  <p-table
    #dt1
    [value]="cipms"
    [(selection)]="selectedCIPM"
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[8, 16, 25, 50]"
    [rows]="8"
    [paginator]="true"
    [globalFilterFields]="[
      'subprocess.name',
      'branch.name',
      'borrowerName',
      'loanAccount',
      'loanType',
      'collateralType.name',
      'irregularity.allSubCategory.allcategory.name',
      'amountInvolved',
      'accountName',
      'accountNumber',
      'responsiblePerson',
      'activityStatus.name',
      'actionPlanDueDate'
    ]"
    stateStorage="local"
    stateKey="statedemo-local1"
  >
    <ng-template
      pTemplate="caption"
      *ngIf="this.roles.includes('ROLE_ICMS_ADMIN')"
    >
      <div class="flex">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          (click)="exportExcel()"
          class="p-button-success m-2"
          pTooltip="XLS"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!-- <th scope="col" pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th> -->
        <th scope="col" pSortableColumn="subProcess.name">District Name</th>
        <th scope="col" pSortableColumn="branch.name">Branch Name</th>
        <th scope="col" pSortableColumn="borrowerName">
          Borrower Name<p-sortIcon field="borrowerName"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="loanAccount">
          Loan Account<p-sortIcon field="loanAccount"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="loanType">Loan Type</th>
        <th scope="col" pSortableColumn="collateralType.name">
          Collateral Type
        </th>
        <th scope="col" pSortableColumn="mortgagorName">
          Mortgagor Name<p-sortIcon field="mortgagorName"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="insuranceCoverageType.name">
          Insurance Policy Coverage Type
        </th>
        <th scope="col" pSortableColumn="insuredName">
          Collateral Estimation Value
        </th>
        <th scope="col" pSortableColumn="insuredName">Sum Insured</th>
        <th scope="col" pSortableColumn="insuredName">Policy Number</th>
        <th scope="col" pSortableColumn="insuredName">Reference Number</th>
        <th scope="col" pSortableColumn="insuredName">Insured Name</th>
        <th scope="col" pSortableColumn="status.name" style="width: 8%">
          Status
        </th>
        <th scope="col" pSortableColumn="insuranceExpireDate">
          Insurance Expiry Date<p-sortIcon></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="daysLeftToExpire">
          Days Left To Expire<p-sortIcon field="daysLeftToExpire"></p-sortIcon>
        </th>
        <th
          scope="col"
          pSortableColumn="Action"
          *ngIf="
            this.roles.includes('ROLE_ICMS_BRANCH_IC') ||
            this.roles.includes('ROLE_ICMS_BRANCH_MANAGER')
          "
        >
          Actions
        </th>
      </tr>
      <p-confirmDialog
        [style]="{ width: '30vw' }"
        key="positionDialog"
        [position]="position"
        [baseZIndex]="10000"
      ></p-confirmDialog>
    </ng-template>

    <ng-template pTemplate="body" let-cipms>
      <tr [pSelectableRow]="cipms">
        <td>{{ cipms?.subProcess?.name }}</td>
        <td>{{ cipms?.branch?.name }}</td>
        <td>{{ cipms?.borrowerName }}</td>
        <td>{{ cipms?.loanAccount }}</td>
        <td>{{ cipms?.loanType }}</td>
        <td>
          <ng-container
            *ngIf="cipms?.collateralType?.name !== 'Other'; else otherCTBlock"
          >
            {{ cipms?.collateralType?.name }}
          </ng-container>
          <ng-template #otherCTBlock>
            {{ cipms?.otherCollateralType }}
          </ng-template>
        </td>
        <td>{{ cipms?.mortgagorName }}</td>
        <td>
          <ng-container
            *ngIf="
              cipms?.insuranceCoverageType?.name !== 'Other';
              else otherIPCTBlock
            "
          >
            {{ cipms?.insuranceCoverageType?.name }}
          </ng-container>
          <ng-template #otherIPCTBlock>
            {{ cipms?.otherInsuranceCoverageType }}
          </ng-template>
        </td>
        <td>{{ cipms?.collateralEstimationValue }}</td>
        <td>{{ cipms?.sumInsured }}</td>
        <td>{{ cipms?.policyNumber }}</td>
        <td>{{ cipms?.referenceNumber }}</td>
        <td>{{ cipms?.insuredName }}</td>
        <td>{{ cipms?.status?.name }}</td>
        <td>{{ cipms?.insuranceExpireDate }}</td>
        <td
          [ngClass]="{
            black: calculateDaysLeftToExpire(cipms?.insuranceExpireDate) == 0,
            red:
              calculateDaysLeftToExpire(cipms?.insuranceExpireDate) < 0 ||
              cipms?.status?.name === 'Closed',
            yellow:
              calculateDaysLeftToExpire(cipms?.insuranceExpireDate) > 0 &&
              calculateDaysLeftToExpire(cipms?.insuranceExpireDate) < 30 &&
              cipms?.status?.name !== 'Closed',
            green:
              calculateDaysLeftToExpire(cipms?.insuranceExpireDate) >= 30 &&
              cipms?.status?.name !== 'Closed'
          }"
        >
          <ng-container
            *ngIf="cipms?.status?.name === 'Closed'; else notClosed"
          >
            <span class="red slim">Closed!</span>
          </ng-container>
          <ng-template #notClosed>
            {{
              absoluteValue(
                calculateDaysLeftToExpire(cipms?.insuranceExpireDate)
              )
            }}
          </ng-template>
        </td>
        <td *ngIf="this.roles.includes('ROLE_ICMS_BRANCH_IC')">
          <button
            pButton
            (click)="updateCIPMs(cipms?.id)"
            [ngClass]="{ updateBlue: true }"
            class="p-button-sm mb-3"
            label="Update"
          ></button>
        </td>
        <td
          *ngIf="
            this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') &&
            !cipms.isAuthorized &&
            cipms.status.name === 'Active'
          "
        >
          <button
            pButton
            (click)="authorizeCIPM(cipms?.id)"
            [ngClass]="{ updateBlue: true }"
            class="p-button-sm mb-3"
            label="Authorize"
          ></button>
        </td>
        <td
          *ngIf="
            this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') &&
            cipms.isAuthorized &&
            cipms.status.name === 'Active'
          "
        >
          Authorized!
        </td>
        <td
          *ngIf="
            this.roles.includes('ROLE_ICMS_BRANCH_MANAGER') &&
            cipms.status.name === 'Closed'
          "
          class="closed-cell"
        >
          <span class="closed-text">Closed!</span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12">Not found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
