<div class="infoContainer">
  <div class="nameInfo">
    <h1>{{postResponse?.employee?.givenName + " " + postResponse?.employee?.fatherName + " " +
      postResponse?.employee?.grandFatherName}}</h1>
    <p><b>{{postResponse?.employee?.division?.name}}</b></p>
  </div>
  <div class="imageInfo">
    <div>
      <img class="signatureImage" (mouseout)="deleteBlurred1()" (mouseover)="showBlurred1()" [src]="dbSignImage" alt="signatureImage">
      <figcaption>Signature</figcaption>
      <div class="displayLarge" *ngIf="bluredimage1">
        <div class="signatureImageBox">
          <img [src]="dbSignImage" alt="dbSignatureImage">
        </div>
      </div>
    </div>
    <div>
      <img class="stampImage" (mouseout)="deleteBlurred2()" (mouseover)="showBlurred2()" [src]="dbStampImage" alt="stampImage">
      <figcaption>Stamp</figcaption>
      <div class="displayLarge" *ngIf="bluredimage2">
        <div class="stampImageBox">
          <img [src]="dbStampImage" alt="dbStampImage">
        </div>
      </div>
    </div>
  </div>
</div>