.infoContainer {
  width: 30em;
  margin: 0 1.5em;
  background-color: black;
}

.nameInfo {
  text-align: center;
  border-bottom: 1em solid #00adef;
  color: #00adef;
  background-color: white;
  padding-top: 1.5em;
}

.imageInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 28em;
}

.signatureImageBox img,
.stampImageBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45em;
  width: 45em;
}


.signatureImage,
.stampImage {
  height: 10em;
  width: 10em;
  padding: 0;
  border: 1px solid #00adef;
}

.displayLarge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

figcaption {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}