.ckeditor {
  min-height: 1000px !important;
  margin: 30px;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 55vh;
  min-width: 69vw;
}

form{
  padding: 50px;
}

.abdycustom {
  margin: 30px;
}
.center{
 justify-content: center;
}