<form #addDivForm="ngForm">
  <div class="flex flex-col justify-around flex-wrap m-8">
    <div class="flex flex-row justify-between w-full">
      <div class="column risk-item">
        <h6 class="font-bold text-lg underline text-blue-600">Risk Item</h6>
      </div>
      <div class="column">
        <h6 class="font-bold text-lg underline text-blue-600">Likelihood</h6>
      </div>
      <div class="column">
        <h6 class="font-bold text-lg underline text-blue-600">Impact</h6>
      </div>
    </div>
    <div
      *ngFor="let riskScore of riskScores; let i = index"
      class="flex flex-row justify-between w-full"
    >
      <div class="column risk-item">
        <p>{{ i + 1 }}. {{ riskScore.riskItem.name }}</p>
      </div>
      <div class="column">
        <p-dropdown
          name="likelihood"
          [style]="{ width: '90px', height: '45px' }"
          [options]="options"
          [(ngModel)]="riskScore.likelihood"
        ></p-dropdown>
      </div>
      <div class="column">
        <p-dropdown
          name="impact"
          [style]="{ width: '90px', height: '45px' }"
          [options]="options"
          [(ngModel)]="riskScore.impact"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div style="margin-top: 10em"></div>
  <div class="save-button">
    <p-button
      label="Save"
      class="save-button"
      (click)="saveRiskScores()"
      type="button"
    ></p-button>
  </div>
</form>
