<p-toast position="top-right"></p-toast>
<div class="flex justify-between">
  <p-button label="Generate annual plan" (click)="generateAnnualPlan()"></p-button>
</div>


<div class="card">
  <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">Audit Universe</h5>


    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="body" let-auditUniverse let-rowIndex="rowIndex">
      <tr [pSelectableRow]="auditUniverse">
        <td>Audit Universe</td>
      </tr>
    </ng-template>

</div>



<div class="card">
  <h5 class="text-2xl font-bold text-blue-600 my-3 pl-4">Risk Level</h5>
  <p-table #dt [columns]="cols" [value]="riskLevel">

    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Low</th>
        <th>Medium</th>
        <th>High</th>
        <th>Audit Type</th>
        <th scope="col">Actions</th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-riskLevel let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ riskLevel.low }}</td>
        <td>{{ riskLevel.medium }}</td>
        <td>{{ riskLevel.high }}</td>
        <td>{{ riskLevel.auditType}}</td>
        <td>
          <div class="flex gap-2">
            <button pButton (click)="updateRiskLevel(riskLevel)" [ngClass]="{ updateBlue: true }"
              class="p-button-sm w-20 h-10 p-2" label="Update"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>



<br><br>