<form #addUserForm="ngForm">
  <div class="flex flex-wrap gap-2 mb-4">
    <div class="flex-auto">
      <label for="alphabetic" class=" block mb-2"> Employee ID: </label>
      <input pInputText id="empId" ngModel [(ngModel)]="selectedEmployeeId" name="employeeId"
        [style]="{'width':'30vw','height':'45px'}" required pKeyFilter="num"/>
    </div>
    <div class="flex-auto">
      <label for="alphabetic" class=" block mb-2"> Full Name: </label>
      <input pInputText id="fullName" ngModel [(ngModel)]="selectedFullName" name="employeeFullName"
        [style]="{'width':'30vw','height':'45px'}" required  pKeyFilterPattern="[a-zA-Z\s]*" />
    </div>
  </div>

  <div class="flex flex-wrap gap-2 mb-4">
    <div class="flex-auto">
      <label for="alphabetic" class=" block mb-2"> Job : </label>
      <p-autoComplete id="jobTitle" ngModel [(ngModel)]="selectedJob" placeholder="Search Job By Title" name="jobTitle"
        [suggestions]="searchedJob" (completeMethod)="getJob($event)" field="title" pKeyFilter="alpha"
        [inputStyle]="{'width':'30vw'}" [required]>
      </p-autoComplete>
    </div>
    <div class="flex-auto">
      <label for="employeeImage" class=" block mb-2"> Supervisor: </label>
      <p-autoComplete [(ngModel)]="selectedEmployee" placeholder="Search Supervisor Fullname"
      [suggestions]="searchedEmployees" (completeMethod)="getSupervisorData($event)" field="supervisorFullName"
      [required]="true" class="clickable-button" [inputStyle]="{'width':'30vw'}" name=""
      (onSelect)="onSelectEmployee($event)" [required]>
    </p-autoComplete>
    
    </div>
  </div>


  <div class="flex flex-wrap gap-2 mb-4">
    <div class="flex-auto">
      <label for="alphanumeric" class=" block mb-2"> Process: </label>

      <p-dropdown [options]="allProcess" name="process" [filter]="true" [(ngModel)]="selectedProcess" filterBy="name"
        [showClear]="true" placeholder="Choose Process" field="name" [style]="{'width':'30vw','height':'45px'}"
        optionLabel="name" [required]>
        <ng-template let-item pTemplate="item">
          {{ item.name }}
        </ng-template>
      </p-dropdown>
    </div>
    <div class="flex-auto">
      <label for="alphanumeric2" class=" block mb-2"> Sub Process: </label>
      <p-autoComplete id="subProcess" ngModel [(ngModel)]="selectedSubProcess" placeholder="Search District By Name"
        name="subProcess" [suggestions]="searchedSubProcess" (completeMethod)="getSubProcess($event)" field="name"
        pKeyFilter="alpha" [inputStyle]="{'width':'30vw'}" [required]>
      </p-autoComplete>

    </div>
  </div>

  <div class="flex flex-wrap gap-2 mb-4">
    
    <div class="flex-auto mt-2" style="margin-left: 0;" [style]="{'width':'30vw','height':'45px'}">
      <label for="number" class=" block mb-2"> Entry Date: </label>
      <p-calendar id="number" ngModel name="companyEntryDate" [(ngModel)]="selectedDateOfBirth" [showIcon]="true" [required]
        dateFormat="dd/mm/yy" [style]="{'width':'30vw','height':'45px'}" [maxDate]="maxDate" placeholder="Entry Date" [required]></p-calendar>
  
    </div>
    <div class="flex-auto">
      <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"
        (onChange)="onValueChange($event)"></p-selectButton>
      <p-autoComplete [(ngModel)]="selectedOrganizationalUnit" placeholder="{{prompt}}" name="organizationalUnit"
        [suggestions]="searchedOrganizationalUnit" (completeMethod)="getData($event)" field="{{field}}"
        [(ngModel)]="selectedOrganizationalUnit" class="clickable-button"
        [inputStyle]="{'width':'30vw'}" [required]></p-autoComplete>
    </div>
  </div>


  
  
  

  <div class="flex flex-wrap gap-2 mb-4">
    <div class="flex align-items-center">
      <label class="block mr-3">Gender:</label>
      <div class="flex align-items-center" required>
        <p-radioButton name="gender" value="Male" [(ngModel)]="sex" inputId="male" />
        <label for="male" class="ml-2 mr-4">Male</label>
        <p-radioButton name="gender" value="Female" [(ngModel)]="sex" inputId="female" />
        <label for="female" class="ml-2">Female</label>
      </div>
    </div>
  </div>


  <div>
    <div class="flex flex-wrap gap-2 mb-8">
      <div class="flex-auto">
        <label for="employeeImage" class=" block mb-2"> Employee Image: </label>
        <p-fileUpload name="employeeImage" (onSelect)="onSelect1($event)" [showUploadButton]=false accept="image/*"
          [style]="{'width':'30vw','height':'45px'}" [maxFileSize]="1000000">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>

      <div class="flex-auto">
        <label for="writtenOff" class=" block mb-2"> signature</label>
        <p-fileUpload name="writtenOff" (onSelect)="onSelect2($event)" [showUploadButton]=false accept="image/*"
          [style]="{'width':'30vw','height':'45px'}" [maxFileSize]="1000000" required>

          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>


    <div class="button-container">
      <div class="spacer"></div>
      <p-toast></p-toast>
      <button pButton type="submit" [disabled]="addUserForm.invalid" label="Create User"
        (click)="startAdding(addUserForm)"></button>
        
    </div>
  </div>
</form>