<div *ngIf="newDiv">

  <form #addUserForm="ngForm">
    <div *ngIf="selectedTab2">
      <div class="flex flex-wrap gap-2 mb-4">
        <div class="flex-auto">
          <label for="alphabetic" class=" block mb-2"> Employee ID: </label>
          <input pInputText id="empId" ngModel [(ngModel)]="selectedEmployeeId" name="employeeId"
            [style]="{'width':'30vw','height':'45px'}" required pKeyFilter="alpha" readonly />
        </div>
        <div class="flex-auto">
          <label for="alphabetic" class=" block mb-2"> Full Name: </label>
          <input pInputText id="fullName" ngModel [(ngModel)]="selectedFullName" name="fullName"
            [style]="{'width':'30vw','height':'45px'}" required pKeyFilter="alpha" readonly />
        </div>
      </div>

      <div class="flex flex-wrap gap-2 mb-4">
        <div class="flex-auto">
          <label for="alphabetic" class=" block mb-2"> Job : </label>
          <!-- <p-autoComplete id="jobTitle" [(ngModel)]="selectedJob" placeholder="Search Job By Title" name="jobTitle"
            [suggestions]="searchedJob" (completeMethod)="getJob($event)" field="title" pKeyFilter="alpha"
            [inputStyle]="{'width':'30vw'}">
          </p-autoComplete> -->
        </div>
        <div class="flex-auto">
          <label for="alphanumeric" class=" block mb-2"> Work Center: </label>
          <input pInputText id="workCenter" ngModel [(ngModel)]="selectedWorkCenter" name="workCenter"
            [style]="{'width':'30vw','height':'45px'}" pKeyFilter="alpha" readonly />
        </div>
      </div>


      <div class="flex flex-wrap gap-2 mb-4">
        <div class="flex-auto">
          <label for="alphanumeric" class=" block mb-2"> Process: </label>

          <!-- <p-dropdown [options]="allProcess" name="process" [filter]="true" [(ngModel)]="selectedProcess"
            filterBy="name" [showClear]="true" placeholder="Choose Process" field="name"
            [style]="{'width':'30vw','height':'45px'}" optionLabel="name">
            <ng-template let-item pTemplate="item">
              {{ item.name }}
            </ng-template>
          </p-dropdown> -->
        </div>
        <div class="flex-auto">
          <label for="alphanumeric2" class=" block mb-2"> Sub Process: </label>
          <!-- <p-autoComplete id="subProcess" [(ngModel)]="selectedSubProcess" placeholder="Search District By Name"
            name="subProcess" [suggestions]="searchedSubProcess" (completeMethod)="getSubProcess($event)" field="name"
            pKeyFilter="alpha" [inputStyle]="{'width':'30vw'}">
          </p-autoComplete> -->

        </div>
      </div>

      <div class="flex flex-wrap gap-2 mb-4">
        <div class="flex-auto">
          <!-- <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"
            (onChange)="onValueChange($event)"></p-selectButton>
          <p-autoComplete [(ngModel)]="selectedOrganizationalUnit" placeholder="{{prompt}}" name="organizationalUnit"
            [suggestions]="searchedOrganizationalUnit" (completeMethod)="getData($event)" field="{{field}}"
            [(ngModel)]="selectedOrganizationalUnit" class="clickable-button"
            [inputStyle]="{'width':'30vw'}"></p-autoComplete> -->
        </div>

        <div class="flex-auto">
          <label class="block mb-2"> Gender: </label>
          <input pInputText id="gen" ngModel [(ngModel)]="selectedGender" name="gender"
            [style]="{'width':'30vw','height':'45px'}" pKeyFilter="alpha" readonly />
        </div>

        <!-- <div class="flex-auto"
          *ngIf="!(selectedPersonalEmail == '' || selectedPersonalEmail == undefined)">
          <label for="alphanumeric2" class=" block mb-2"> Personal Email: </label>
          <input pInputText id="personalEmail" ngModel [(ngModel)]="selectedPersonalEmail" name="personalEmail"
            [style]="{'width':'30vw','height':'45px'}"  pKeyFilter="alpha"
             required/>
        </div> -->


      </div>

      <div class="flex flex-wrap gap-2 mb-4">
        <div class="flex-auto" *ngIf="!(selectedDateOfBirth == null)">
          <label for="number" class=" block mb-2"> Entry Date: </label>
          <!-- <p-calendar id="number" ngModel name="birthDate" [(ngModel)]="selectedDateOfBirth" [showIcon]="true"
            [required] dateFormat="dd/mm/yy" [style]="{'width':'30vw','height':'45px'}"
            [maxDate]="maxDate"></p-calendar> -->
        </div>

        <div class="flex-auto">
          <!-- <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"
            (onChange)="onValueChange($event)"></p-selectButton>
            <p-autoComplete [(ngModel)]="selectedEmployee" placeholder="Search Employee By Fullname"
            [suggestions]="searchedEmployees" (completeMethod)="getEmployeeData($event)" field="employeeFullName"
            [required]="true" class="clickable-button" [inputStyle]="{'width':'30vw'}"></p-autoComplete> -->
        </div>
      </div>


      <div>
        <div class="flex flex-wrap gap-2 mb-8">
          <div class="flex-auto">
            <label for="employeeImage" class=" block mb-2"> Employee Image: </label>
            <p-fileUpload name="employeeImage" (onSelect)="onSelect1($event)" [showUploadButton]=false accept="image/*"
              [style]="{'width':'30vw','height':'45px'}" [maxFileSize]="1000000">
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>

          <div class="flex-auto">
            <label for="writtenOff" class=" block mb-2"> signature</label>
            <p-fileUpload name="writtenOff" (onSelect)="onSelect2($event)" [showUploadButton]=false accept="image/*"
              [style]="{'width':'30vw','height':'45px'}" [maxFileSize]="1000000" required>

              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>


        <div class="button-container">
          <div class="spacer"></div>
          <p-toast></p-toast>
          <button pButton type="submit" [disabled]="addUserForm.invalid" label="Create Admin"
            (click)="startAdding(addUserForm)"></button>
        </div>
      </div>
    </div>
  </form>
</div>