<p-toast position="top-right"></p-toast>
<div class="flex justify-between">
  <div class="flex">
    <span class="p-input-icon-left ml-auto">
      <input
        pInputText
        type="text"
        (input)="dt1.filterGlobal($any($event.target)?.value, 'contains')"
        placeholder="Search here"
      />
    </span>
  </div>
  <p-button label="Create authority" (click)="createSignature()"></p-button>
</div>
<div class="card">
  <h5 class="text-2xl font-bold text-blue-600 p-3">Authority table</h5>
  <p-table
    #dt1
    [value]="authorityList"
    selectionMode="single"
    dataKey="id"
    [rows]="5"
    [globalFilterFields]="[
      'process.name',
      'subProcess.name',
      'district.name',
      'branch.name',
      'team.externalName',
      'employee.employeeFullName'
    ]"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="employee.employeeFullName">
          <div class="flex flex-start">
            Employee name
            <p-sortIcon field="employee.employeeFullName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="process.name">
          <div class="flex items-center">
            Process
            <p-sortIcon field="process.name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="subProcess.name">
          <div class="flex items-center">
            Sub process
            <p-sortIcon field="subProcess.name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="district.name">
          <div class="flex items-center">
            District
            <p-sortIcon field="district.name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="team.externalName">
          <div class="flex items-center">
            Team
            <p-sortIcon field="team.externalName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="branch.name">
          <div class="flex items-center">
            Branch
            <p-sortIcon field="branch.name"></p-sortIcon>
          </div>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-authorityList let-rowIndex="rowIndex">
      <tr [pSelectableRow]="authorityList">
        <td>{{ rowIndex + 1 }}</td>
        <td
          pTooltip="{{ authorityList?.employee?.employeeFullName }}"
          tooltipPosition="bottom"
        >
          {{ authorityList?.employee?.employeeFullName }}
        </td>
        <td
          pTooltip="{{ authorityList?.process?.name }}"
          tooltipPosition="bottom"
        >
          {{ authorityList?.process?.name }}
        </td>
        <td
          pTooltip="{{ authorityList?.subProcess?.name }}"
          tooltipPosition="bottom"
        >
          {{ authorityList?.subProcess?.name }}
        </td>
        <td
          pTooltip="{{ authorityList?.district?.name }}"
          tooltipPosition="bottom"
        >
          {{ authorityList?.district?.name }}
        </td>
        <td
          pTooltip="{{ authorityList?.team?.externalName }}"
          tooltipPosition="bottom"
        >
          {{ authorityList?.team?.externalName }}
        </td>
        <td
          pTooltip="{{ authorityList?.branch?.name }}"
          tooltipPosition="bottom"
        >
          {{ authorityList?.branch?.name }}
        </td>
        <td>
          <div class="flex gap-2">
            <button
              pButton
              (click)="updateAuthority(authorityList.id)"
              [ngClass]="{ updateBlue: true }"
              class="p-button-sm w-20 h-10"
              label="Update"
            ></button>
            <button
              pButton
              (click)="show(authorityList.id)"
              class="p-button-sm w-20 h-10 p-2"
              label="Show"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
