host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
}

.block {
  display: block;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
}


/* Add this style for spacing between buttons */
.mr-2 {
  margin-right: 2px;
}

.mt-2 {
  margin-top: 2px;
}

