<div class="relative">
  <div class="absolute top-0 right-0 z-50">
    <p-messages [value]="messages"></p-messages>
  </div>
</div>
<div>
  <h4>Upload Employee Data</h4>
  <p-fileUpload #fileUpload name="file" [url]="ems_employee_url" accept=".xlsx" (onBeforeUpload)="onBeforeUpload()"
    (onError)="onUploadError($event)" (onUpload)="onUpload()"></p-fileUpload>
  <div class="spinner-container" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
    <p>Please Wait</p>
  </div>
  <div *ngIf="!loading">
    <p [innerHTML]="cobSummaryDetail"></p>
  </div>
</div>
