<p-messages style="position: absolute; z-index: 1; right: 1em; margin: -1em 0;"></p-messages>
<div>
  <form #changeOTPForm="ngForm" (ngSubmit)="changeOTP(changeOTPForm)">
    <div class="flex flex-wrap gap-2 mb-2">
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> New Password: </label>
        <p-password ngModel [(ngModel)]="newPassword" name="newPassword" class="w-full" styleClass="p-password"
          [inputStyle]="{'width':'30vw','height':'45px'}" [toggleMask]="true" minlength="8"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> Confirm New Password: </label>
        <p-password ngModel [(ngModel)]="confirmNewPassword" name="confirmNewPassword" class="w-full"
          styleClass="p-password" [inputStyle]="{'width':'30vw','height':'45px'}" [toggleMask]="true" minlength="8"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required appPasswordMatch="newPassword">
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
    </div>
    <div class="mt-4"></div>
    <p-button label="Change OTP" [disabled]="changeOTPForm.invalid" type="submit"></p-button>
  </form>
</div>
