<div class="mcontainer">
  <div class="relative">
  <div class="absolute top-0 right-0 z-50">
    <p-messages [value]="msgs"></p-messages>
  </div>
</div>

  <div class="secondItem">
    <form #dataToBeSent="ngForm" name="dawholegadaymform" (ngSubmit)="addMemo(dataToBeSent)">
      <div class="inputs">
        <br>
        <div class="flex-auto">
          <label for="phoneNumber" class="block mb-2">Phone Number</label>
          <input pInputText id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber"
            [style]="{'width':'30vw','height':'45px'}"  minlength="1" required />
        </div>
      </div>

      <div class="mbody">
        <label for="messageContent" class="block mb-2">Message</label>
        <textarea pKeyFilter="int" rows="8" cols="30" pInputTextarea class="custom-textarea"  [(ngModel)]="messageContent" name="messageContent"></textarea>
        <div class="button">
        <p-button label="Send" type="submit" [style]="{'margin-top':'10px'}"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>