:host ::ng-deep .accordion-custom {
  .accordion-button {
    background-color: var(--cui-dark);
    color: var(--cui-white);
  }
}

h5 {
  padding: 0.5em;
}

.nameInfo {
  text-align: center;
  border-bottom: 1em solid #00adef;
  color: #00adef;
  background-color: white;
  padding-top: 1.5em;
  width: 80%;
  margin: 0 auto;
}

.imageInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 30em;
}

.signatureImageBox img,
.stampImageBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45em;
  width: 45em;
}


.signatureImage,
.stampImage {
  height: 15em;
  width: 15em;
  padding: 0;
  border: 1px solid #00adef;
}

.displayLarge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

figcaption {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}

input {
  height: 2em;
}

.infoContainer {
  width: 100%;
}